@import "node_modules/bootstrap/scss/bootstrap";

@import "node_modules/antd/dist/antd";

// footer 
.footer {
  margin-top: 8em;
  padding-top: 8em;
  position: relative;
  z-index: 1;
  background-color: #F7FAFD;

  .copyright {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 4rem;
    text-align: center;
    border-top: 1px solid #d8ebfd;
  }
}

// masonry
.grid {
  margin: 0 auto;
}

.grid-sizer,
.grid-item {
  width: 25%;
}

.grid-item {
  // width: 300px;
  height: 200px;
  margin: 0 auto 0px auto;
  padding: 20px;
}

.grid-item--width3 {
  width: 75%;
  height: 600px;
  margin: 0 auto 0px auto;
  padding: 12px;
}

@media screen and (max-width: 750px) {

  .grid-sizer,
  .grid-item {
    width: 33.3%;
  }

  .grid-item--width3 {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {

  .grid-item--width3,
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
}

.model-block {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 2px;
  height: 600px;

  .model-content {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 16px 16px;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;

    h4 {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      padding: 0 16px 16px;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      -webkit-transition: padding .3s;
      transition: padding .3s;
    }

    .ant-typography {
      margin: 0;
      color: #fff;
    }
  }

  img {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
    vertical-align: top;
    background-clip: cover;
    -webkit-transition: all .36s ease-out;
    transition: all .36s ease-out;
  }
}

.sub-block {
  height: 200px;
}

.model-block:hover .model-content {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.model-block:hover img {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}

.model-block:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(30%, transparent), to(rgba(0, 0, 0, .5)));
  background: linear-gradient(transparent, transparent 30%, rgba(0, 0, 0, .5));
  content: "";
  pointer-events: none;
}

.image-view {
  width: 100%;
  height: 400px;
  background-color: aquamarine;
}

.sample-demo-block {
  width: 80px;
  height: 80px;
  background-color: beige;
  margin: 5px;
}
